* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "miFuente";
    src: url(../fuente/Sunday\ Morning4.otf);
}

html {
    scroll-behavior: smooth;
}


/* Estilos del header */

.header {
    background-image: url(../img/banner.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.div-logo-nav {
    display: flex;
    justify-content: space-between;
}

.div-logo-nav img {
    width: 245px;
    height: 132;
    padding: 10px 24px;
    display: flex;
    justify-content: flex-start;
}

.navHeader ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end
}

.navHeader li a {
    display: block;
    padding: 46px 20px;
    text-decoration: none;
    color: #6B6B6B;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.098);
}

.textosHeader {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 32px;
}

.textosHeader h1 {
    font-family: "miFuente";
    font-size: 160px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px;
}

.textosHeader ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    list-style: none;
    display: flex;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.098);
    justify-content: center;
}

.textosHeader li {
    padding: 24px;
}

.textosHeader a img {
    height: 24px;
    width: 24px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* Estilos del header de Proyectos personales */

.textosHeader2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 32px;
}

.textosHeader2 h1 {
    font-family: "miFuente";
    font-size: 150px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px;
}


/* Estilos main del index */

.contenedorMain {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.contenedorMain img {
    width: 40%;
    padding: 10px;
}

.contenedorTextosMain {
    width: 48%;
    padding: 10px;
}

.contenedorTextosMain h2 {
    font-family: "miFuente";
    font-size: 80px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px;
    text-align: center;
}

.contenedorTextosMain p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    color: #535353;
    text-align: center;
}


/*Estilos form contacto */

.contenedorForm {
    padding: 60px 20px;
}

.form {
    width: 85%;
    margin: auto;
}

.contenedorForm h3 {
    font-family: "miFuente";
    font-size: 40px;
    color: #000;
    text-align: center;
    padding-bottom: 24px;
}


/* A los input los separe por clases para darles estilos distintos a cada uno, igual que sus placeholder */

.inputName {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid #707070;
    border-radius: 16px;
}

.inputName::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #6B6B6B;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.098);
    padding: 8px 16px;
}

.inputText {
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #707070;
    border-radius: 16px;
    margin-top: 16px;
    display: block;
}

.inputText::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #6B6B6B;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.098);
    padding: 8px 16px;
}

.inputBoton {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    background: linear-gradient(#C5D5EB, #c5ddff);
    border-color: transparent;
    display: block;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    transition: 0.3s;
}

.inputBoton:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/*Footer*/

.footer {
    background-color: #DAE2F1;
    width: 100%;
    height: 160px;
    color: #707070;
    display: flex;
    margin: auto;
}

.footerLeft {
    margin: 24px;
    text-align: center;
}

.footerLeft h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #707070;
    padding-top: 24px;
}

.footerLeft p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #707070;
    margin-top: 20px;
}

.footerCenter {
    margin-top: 32px;
    margin-left: auto;
    width: 300px;
    margin-right: auto;
}

.footerCenter ul {
    list-style: none;
    display: flex;
}

.footerCenter li {
    padding: 24px;
}

.footerCenter li a img {
    width: 48px;
    height: 48px;
}

.footerRight {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 75px);
    width: 200px;
    justify-content: end
}

.footerRight ul {
    list-style: none;
}

.footerRight li {
    padding-bottom: 8px;
}

.footerRight li a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #6B6B6B;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.098);
}


/* Estilos main CV */

.tituloCv {
    font-family: "miFuente";
    font-size: 40px;
    color: #000;
    height: 50px;
}

.contenedor-cv ul {
    list-style: none;
}

.contenedor-cv li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #707070;
}

.contenedor-cv p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #707070;
}

.contenedor-cv .numeros {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #707070;
}

.contenedor-cv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6);
    grid-template-areas: ". tituloedu tituloidioma" "foto edu idioma" "tituloinfo tituloexp titulohab" "info exp hab" ". titulosoftware ." ". soft .";
    padding: 40px;
}

.text-span {
    display: block;
}

.col1-row2 {
    grid-area: foto;
}

.col1-row3 {
    grid-area: tituloinfo;
}

.col1-row4 {
    grid-area: info;
}

.col1-row2 img {
    height: 300px;
    width: auto;
    border-radius: 15%;
}

.col2-row1 {
    grid-area: tituloedu;
}

.col2-row2 {
    display: grid;
    grid-area: edu;
    grid-template-columns: repeat(2, 1fr);
}

.col2-row3 {
    grid-area: tituloexp;
}

.col2-row4 {
    grid-area: exp;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col3-row1 {
    grid-area: tituloidioma;
}

.col3-row2 {
    display: grid;
    grid-area: idioma;
    grid-template-columns: repeat(2, 1fr);
}

.col3-row3 {
    grid-area: titulohab;
}

.col3-row4 {
    grid-area: hab;
}

.col3-row4 ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3. 1fr);
}

.col3-row4 img {
    height: 100px;
    width: auto;
}

.col2-row5 {
    grid-area: titulosoftware;
}

.col2-row6 {
    grid-area: soft;
}

.col2-row6 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.col2-row6 img {
    height: 60px;
    width: auto;
}


/* Estilos Servicios */

.card h3 {
    font-family: "miFuente";
    font-size: 32px;
    color: #000;
    padding-bottom: 16px;
}

.card ul {
    list-style: none;
}

.card li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #707070;
    padding-bottom: 10px;
}

.contenedorCards {
    padding: 20px;
}

.div-cards {
    margin: auto;
    padding-bottom: 60px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.card {
    width: 22%;
    text-align: center;
    height: 350px;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%);
    transform: scale(1);
    transition: transform 0.6s;
    border-radius: 10%;
}

.card:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card img {
    margin: 30px 0 10px 0;
    height: 120px;
    width: auto;
}


/* Estilos proyectos-trabajos */

.contenedor-galeria h3 {
    font-family: "miFuente";
    font-size: 32px;
    color: #000;
    padding-left: 40px;
}

.galeria1,
.galeria2,
.galeria3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 24px 0;
    overflow: hidden;
}

.galeria1 img {
    width: 100%;
    vertical-align: top;
    height: auto;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.6s;
}

.galeria2 img {
    width: 100%;
    vertical-align: top;
    height: 350px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.6s;
}

.galeria3 img {
    width: 100%;
    vertical-align: top;
    height: 350px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.6s;
}

.contenedor-galeria img:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}