footer {
    background-color: #DAE2F1!important;
    .text-white {
        font-family: 'Montserrat', sans-serif!important;
        color: #707070!important;
        font-size: 1rem!important;
    }
    .copy {
        background-color: #c5ddff;
        p {
            font-family: 'Montserrat', sans-serif;
            color: #707070;
        }
    }
    .icon {
        font-family: 'Montserrat', sans-serif!important;
        color: #707070!important;
        font-size: 3rem!important;
    }
}